

* {
  font-family: sans-serif;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 500px;
  min-width: 200px;
}

.board-button {
  font-size: 150px;
  display: flex;
  justify-content: center;
  height: 150px;
}

.one, .two, .three, .four, .five, .six {
  border-bottom: 5px solid black;
}

.one, .two, .four, .five, .seven, .eight {
  border-right: 5px solid black;
}